<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<!-- 
生成命令：
java -jar mybatis-generator-core-1.3.1.jar -configfile mybatis-generator.xml  -overwrite
 -->
<generatorConfiguration>
	<classPathEntry location="jtds-1.2.jar" />

	<context id="FreeCMS_Tables" targetRuntime="MyBatis3">
		<jdbcConnection driverClass="net.sourceforge.jtds.jdbc.Driver"
			connectionURL="jdbc:jtds:sqlserver://localhost:1433/freecms" userId="sa"
			password="sa">
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<javaModelGenerator targetPackage="cn.freeteam.cms.model"
			targetProject="../../../src">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="cn.freeteam.cms.model"
			targetProject="../../../src">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<javaClientGenerator type="XMLMAPPER"
			targetPackage="cn.freeteam.cms.dao"
			targetProject="../../../src">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<table tableName="freecms_applyopen"  ></table>
		<!-- 
		<table tableName="channel"  ></table>
		<table tableName="channel_user"  ></table>
		<table tableName="func"  ></table>
		<table tableName="info"  ></table>
		<table tableName="operLogs"  ></table>
		<table tableName="role_func"  ></table>
		<table tableName="role_user"  ></table>
		<table tableName="roles"  ></table>
		<table tableName="site"  ></table>
		<table tableName="site_user"  ></table>
		<table tableName="templet"  ></table>
		<table tableName="users"  ></table>
		 -->
	</context>
</generatorConfiguration>